# Configuration file

levelhearts {

    general {
        # When enabled, an extra level of debugging output will be provided to the logs.
        B:Debug=false

        # When enabled, the player's health will get reset back to default on death. Overrides punish amount.
        B:Hardcore=false

        # When disabled, LevelHearts' items' functionality will be disabled.
        B:Items=true

        # When disabled, LevelHearts will not spawn heart pieces and heart containers in chests around the world.
        B:Loot=true

        # When enabled, upon any damage to the player, the player will immediately die. "One-Hit Knockout"
        B:Ohko=false
    }

    health {
        # The amount of health a user will have in a new game or after death.
        # Min: 1
        # Max: 200
        I:"Default Health"=20

        # How many hearts (not health) to heal a player to each time they use a heart container. -1 for full health.
        # Min: -1
        # Max: 200
        I:"Heal Amount"=-1

        # When disabled, the player will not be healed when they reach the next level on the level ramp.
        B:"Heal on Level Up"=true

        # When enabled, any hearts gained via items (heart containers) will be Minecraft's absorption hearts instead of extra hearts.
        B:"Item Absorption"=false

        # The levels at which a user will gain a heart.
        I:"Level Ramp" <
            1
            5
            10
            15
            20
            25
            30
            34
            38
            42
            46
            50
            53
            56
            59
            62
            64
            66
            68
            70
            75
            80
            85
            90
            95
            100
            110
            120
            130
            140
            150
            160
            170
            180
            190
            200
         >

        # The amount of experience levels to be removed from the player each time reach the next level on thelevel ramp. -1 to remove all levels
        # Min: -1
        # Max: 200
        I:"Lose XP Amount"=0

        # When enabled, the player will lose some experience when they reach the next level on the level ramp.
        B:"Lose XP on Level Up"=false

        # The maximum amount of health LevelHearts will allow a user to have. -1 to disable.
        # Min: -1
        # Max: 1024
        I:"Maximum Health"=-1

        # The minimum amount of health LevelHearts will allow a user to be punished to.
        # Min: 2
        # Max: 20
        I:"Minimum Health"=2

        # Whether or not to play the level up XP sound each time the player receives a new heart (from the ramp or containers).
        B:"Play Sound on Heart Gain"=true

        # How many hearts (not health) to take away from the user each time they die. -1 to disable.
        # Min: -1
        # Max: 10
        I:"Punish Health"=-1

        # When enabled, any hearts gained via exp will be Minecraft's absorption hearts instead of extra hearts.
        B:"XP Absorption"=false
    }

    gui {
        # When disabled, LevelHearts will not modify the hud at all. Only use if you're having conflicts with other mods.
        B:"LevelHearts HUD"=true

        # When enabled, health will not be displayed at all. Works well in combination with one-hit knockout.
        B:"LevelHearts Hidden HUD"=false

        # When enabled, the health will display in only one row with a number to the left indicating the row you're on.
        B:"LevelHearts Minimal HUD"=false
    }

    experience {
        # When enabled, the mod will force players to lose their items even if the KeepInventory gamerule is enabled.
        # If using a setting to lose health upon death, often health will be regained through experience after respawning, which can be confusing.
        B:"Always Lose Inventory on Death"=false

        # When enabled, the mod will force players to lose their experience even if the KeepInventory gamerule is enabled.
        B:"Always Lose XP on Death"=false

        # How much to multiply the value of experience by.
        # Min: 0.0
        # Max: 1024.0
        D:"XP Multiplier"=1.0
    }

}


